<mat-drawer-container class="page-container">
    <mat-drawer mode="side" opened>
      <app-faction-filter [(selection)]="selectedId"></app-faction-filter>
    </mat-drawer>
    <mat-drawer-content class="main-content">
        <div *ngFor="let item of items[selectedId]" class="unit-card">
          <table>
            <thead>
              <tr class="unit-card-title">
                <th colspan="12">{{item.name}}</th>
              </tr>
              <tr class="unit-card-header">
                <th>Nom</th>
                <th>M</th>
                <th>CC</th>
                <th>CT</th>
                <th>F</th>
                <th>E</th>
                <th>PV</th>
                <th>ATT</th>
                <th>CMD</th>
                <th>SVG</th>
                <th>Max</th>
                <th>Prix</th>
              </tr>
            </thead>
            <tbody class="unit-card-profiles">
              <tr *ngFor="let profil of item.profiles">
                  <td>{{profil.name}}</td>
                  <td>{{profil.profile.m}}</td>
                  <td>{{profil.profile.cc}}</td>
                  <td>{{profil.profile.ct}}</td>
                  <td>{{profil.profile.f}}</td>
                  <td>{{profil.profile.e}}</td>
                  <td>{{profil.profile.pv}}</td>
                  <td>{{profil.profile.a}}</td>
                  <td>{{profil.profile.cd}}</td>
                  <td>{{profil.profile.sv}}</td>
                  <td>{{profil.max}}</td>
                  <td>{{profil.cost}}</td>
              </tr>
            </tbody>
          </table>
          <div class="unit-card-details">
              <h3 class="unit-card-details-title">Aptitudes:</h3>
            <div class="unit-card-details-container">
                <div *ngFor="let aptitude of item.aptitudes" class="unit-card-details-item">
                    <strong>{{aptitudeName(aptitude)}}:</strong>
                    {{aptitudeDescription(aptitude)}}

                  </div>
            </div>
          </div>
        </div>
    </mat-drawer-content>
</mat-drawer-container>
