<mat-drawer-container class="page-container">
    <mat-drawer mode="side" opened>
      <app-faction-filter [(selection)]="selectedId"></app-faction-filter>
    </mat-drawer>
    <mat-drawer-content class="main-content">

        <table mat-table [dataSource]="items[selectedId]" class="mat-elevation-z8">

            <ng-container matColumnDef="name">
              <th mat-header-cell *matHeaderCellDef> Arme </th>
              <td mat-cell *matCellDef="let element"> {{element.name}} </td>
            </ng-container>


            <ng-container matColumnDef="reach">
              <th mat-header-cell *matHeaderCellDef> Portée </th>
              <td mat-cell *matCellDef="let element"> {{element.reach}} </td>
            </ng-container>

            <ng-container matColumnDef="type">
              <th mat-header-cell *matHeaderCellDef> Type </th>
              <td mat-cell *matCellDef="let element"> {{element.type}} {{element.number}} </td>
            </ng-container>

            <ng-container matColumnDef="f">
              <th mat-header-cell *matHeaderCellDef> Force </th>
              <td mat-cell *matCellDef="let element"> {{element.f}} </td>
            </ng-container>


            <ng-container matColumnDef="pa">
                <th mat-header-cell *matHeaderCellDef> PA </th>
                <td mat-cell *matCellDef="let element"> {{element.pa}} </td>
              </ng-container>
              <ng-container matColumnDef="d">
                  <th mat-header-cell *matHeaderCellDef> Dégats </th>
                  <td mat-cell *matCellDef="let element"> {{element.d}} </td>
                </ng-container>

                <ng-container matColumnDef="cost">
                    <th mat-header-cell *matHeaderCellDef> Prix </th>
                    <td mat-cell *matCellDef="let element"> {{element.cost}} </td>
                  </ng-container>

                  <ng-container matColumnDef="aptitude">
                      <th mat-header-cell *matHeaderCellDef> Aptitude </th>
                      <td mat-cell *matCellDef="let element"> {{element.aptitude}} </td>
                    </ng-container>



            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
          </table>
    </mat-drawer-content>
</mat-drawer-container>
