
<div id="menu">
    <div class="menu-container">
  <button mat-button [matMenuTriggerFor]="equ">
    <mat-icon aria-label="Example icon-button with a heart icon">build</mat-icon>
    Equipements
  </button>
  <mat-menu #equ="matMenu">
    <button mat-menu-item routerLink="/weapons">Armes</button>
    <button mat-menu-item routerLink="/equipements">Equipements</button>
  </mat-menu>

  <button mat-button [matMenuTriggerFor]="hist">
    <mat-icon aria-label="Example icon-button with a heart icon">face</mat-icon>
    Histoire
  </button>
  <mat-menu #hist="matMenu">
    <button mat-menu-item routerLink="/historics">Historique</button>
    <button mat-menu-item routerLink="/missions">Mission</button>
    <button mat-menu-item routerLink="/singularities">Singularité</button>
  </mat-menu>

  <button mat-button [matMenuTriggerFor]="spec">
    <mat-icon aria-label="Example icon-button with a heart icon">grade</mat-icon>
    Specialistes
  </button>
  <mat-menu #spec="matMenu">
    <button mat-menu-item routerLink="/behaviors">Comportement</button>
    <button mat-menu-item routerLink="/specialities">Spécialités</button>
  </mat-menu>


  <button mat-button routerLink="/teams">
    <mat-icon aria-label="Example icon-button with a heart icon">group</mat-icon>
    Teams
  </button>

  <button mat-button [matMenuTriggerFor]="uni">
    <mat-icon aria-label="Example icon-button with a heart icon">card_membership</mat-icon>
    Unités
  </button>
  <mat-menu #uni="matMenu">
    <button mat-menu-item routerLink="/aptitudes">Aptitudes</button>
    <button mat-menu-item routerLink="/units">Unités</button>
  </mat-menu>
</div>
</div>
