<div>

  <div class="member-card">
    <div *ngIf="member.speciality" class="member-speciality">
      <span class="member-speciality-label">{{getName(member.speciality.type)}}</span>
    </div>
    <div class="member-card-container">
      <table class="member-table">
        <thead>
          <tr class="member-card-title">
            <th colspan="9">{{getField(member.unit, 'name')}}</th>
            <th>{{getPoint(member)}} Pts</th>
          </tr>
          <tr class="member-card-header">
            <th>M</th>
            <th>CC</th>
            <th>CT</th>
            <th>F</th>
            <th>E</th>
            <th>PV</th>
            <th>ATT</th>
            <th>CMD</th>
            <th>SVG</th>
            <th>Prix</th>
          </tr>
        </thead>
        <tbody class="member-card-profiles">
          <td>{{getProfileField(member.unit, 'm')}}</td>
          <td>{{getProfileField(member.unit, 'cc')}}</td>
          <td>{{getProfileField(member.unit, 'ct')}}</td>
          <td>{{getProfileField(member.unit, 'f')}}</td>
          <td>{{getProfileField(member.unit, 'e')}}</td>
          <td>{{getProfileField(member.unit, 'pv')}}</td>
          <td>{{getProfileField(member.unit, 'a')}}</td>
          <td>{{getProfileField(member.unit, 'cd')}}</td>
          <td>{{getProfileField(member.unit, 'sv')}}+</td>
          <td>{{getField(member.unit, 'cost')}}</td>
        </tbody>
      </table>
      <table class="member-table">
        <thead>
          <tr class="member-card-title">
            <th colspan="7">Armes</th>
          </tr>
          <tr class="member-card-header">
            <th>Arme</th>
            <th>Portée</th>
            <th>Type</th>
            <th>Force</th>
            <th>Dégats</th>
            <th>Prix</th>
            <th>Aptitude</th>
          </tr>
        </thead>
        <tbody class="member-card-profiles">
          <tr *ngFor="let weapon of member.weapons">
            <td>{{getField(weapon, 'name')}}</td>
            <td>{{getField(weapon, 'reach')}}</td>
            <td>{{getField(getField(weapon, 'type'), 'name')}}</td>
            <td>{{getField(weapon, 'f')}}</td>
            <td>{{getField(weapon, 'd')}}</td>
            <td>{{getField(weapon, 'cost')}}</td>
            <td>{{getField(weapon, 'aptitude')}}</td>
          </tr>
        </tbody>
      </table>
      <div class="member-card-details">
        <h3 class="member-card-details-title">Aptitudes:</h3>
        <div class="member-card-details-container">
          <div *ngFor="let aptitude of getField(member.unit, 'aptitudes')" class="member-card-details-item">
            <strong>{{getField(aptitude,'name')}}:</strong>
            {{getField(aptitude,'description')}}
          </div>

        </div>
      </div>
      <div class="member-card-details" *ngIf="member.options.length > 0">
        <h3 class="member-card-details-title">Options:</h3>
        <div class="member-card-details-container">
          <div *ngFor="let option of member.options" class="member-card-details-item">
            <strong>{{getField(option,'name')}}:</strong>
            {{getField(option,'description')}}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>