

<mat-list>
  <mat-list-item *ngFor="let faction of factions">
    <button mat-button (click)="onSelect(faction.id)" [class.active]="faction.id === selection">
        {{faction.name}}
    </button>
  </mat-list-item>
</mat-list>

