<mat-drawer-container class="page-container">
    <mat-drawer mode="side" opened>
        <mat-list>
            <mat-list-item  *ngFor="let team of teams" >
              <button mat-button (click)="onSelect(team)" [class.active]="team === selection">
                  {{team.name}}
              </button>
            </mat-list-item>
          </mat-list>
    </mat-drawer>
    <mat-drawer-content class="team-content">
        <div class="team-details-container">
            <div class="team-details">
              <span class="team-details-label">Faction: </span>
              <span class="team-details-description">{{getName(selection.faction)}}</span>
            </div>
            <div class="team-details">
              <span class="team-details-label">Historique: </span>
              <span class="team-details-description">{{getName(selection.historic)}}</span>
            </div>
            <div class="team-details">
              <span class="team-details-label">Mission: </span>
              <span class="team-details-description">{{getName(selection.mission)}}</span>
            </div>
            <div class="team-details">
              <span class="team-details-label">Singularité: </span>
              <span class="team-details-description">{{getName(selection.singularity)}}</span>
            </div>
            <div class="team-details">
              <span class="team-details-label">Points de la team: </span>
              <span class="team-details-description">{{getPoint(selection)}}</span>
            </div>


          </div>
          <mat-tab-group>
            <mat-tab *ngFor="let member of selection.members" label={{member.name}}>
                <app-member [member]="member"></app-member>
            </mat-tab>
          </mat-tab-group>
    </mat-drawer-content>
</mat-drawer-container>


