<mat-drawer-container class="page-container">
    <mat-drawer mode="side" opened>
    </mat-drawer>
    <mat-drawer-content class="main-content">
        <mat-card *ngFor="let item of items" class="item-container">
          <mat-card-header>
            <mat-card-title class="item-title">
              {{item.name}}
            </mat-card-title>
          </mat-card-header>
          <mat-card-content>
              <p class="item-description">{{item.description}}</p>
          </mat-card-content>
        </mat-card>
    </mat-drawer-content>
</mat-drawer-container>
