/* You can add global styles to this file, and also import other style files */
@import "@angular/material/prebuilt-themes/indigo-pink.css";

*{margin: 0; padding: 0}
#menu {background-color: #C3560A; color: #FFF; min-height: 6vh;}
.menu-container{
padding: 10px;
}
.page-container{
  width: 100%;
  min-height: 94vh;
}
.tab-container{
  min-height: 88vh;
}
.active{
  background-color: #C3560A;
  color: #FFF;
}
.main-content{
padding: 10px;
}
.team-content {
background-color: #FFF;
}
.item-container {
  margin-bottom: 10px;
}
.item-title{
  /*padding: 10px 0;*/
  /*font-family: Roboto,"Helvetica Neue",sans-serif;*/
  color: #C3560A;
  /*font-size: 20px;*/
}
.item-description, .item-details {
  padding: 10px 10px 10px 16px;
}
.item-color{
  background-color: #C3560A;
  color: #FFF;
  padding: 3px 14px;
  border-radius: 25px;
  text-align: left;
  margin-left: 10px;
}

table {
  width: 100%;
}
.mat-column-aptitude{
  width: 500px;
  padding: 3px;
}
.unit-card{
  border: 1px solid #C3560A;
  margin-bottom: 15px;
}
.unit-card table{
  border-collapse: collapse;
}

.unit-card-title th{
  background-color: #000;
  color: #FFF;
  font-size: 20px;
  padding: 10px;
}

.unit-card-header th{
  background-color: #C3560A;
  font-size: 16px;
  padding: 10px;
}
.unit-card table {
  border-bottom: 1px solid #000;
}
.unit-card-profiles td {
  font-size: 13px;
  padding: 10px;
  text-align: center;
}
.unit-card-profiles td:first-child {
  text-align: left;
}

.unit-card-profiles tr:nth-child(even) {
background-color: #fac097
}
.unit-card-details{
  padding: 10px;
  position: relative;
}
.unit-card-details-container, .unit-card-details-title{
  display: inline-block;
  padding: 10px;
}
.unit-card-details-title{
  position: absolute;
  top: 10px;
}
.unit-card-details-container{
  width: 80%;
  left: 100px;
  margin-left: 100px;
}
.unit-card-details-item{
  padding-bottom: 5px;
}
.unit-card-details-item{
  padding-bottom: 5px;
}
.team-details-container {
  padding: 10px;
  border-bottom: 1px solid #CCC;
}
.team-details {
  padding: 10px;
}
.team-details-label {
  font-weight: bold;
}
.side-title{
  color:  #C3560A;
  text-align: center;
  padding: 10px 0;
}

.member-card {
  padding: 10px;
  margin-top: 30px;
}

.member-card-container {
  border: 1px solid #C3560A;
}

.member-card table {
  border-collapse: collapse;
}

.member-speciality-label{
  background-color: #000;
  color: #FFF;
  padding: 10px;
  font-size: 16px;
}

.member-card-title th{
  background-color: #000;
  color: #FFF;
  font-size: 20px;
  padding: 10px;
}

.member-card-header th{
  background-color: #C3560A;
  font-size: 16px;
  padding: 10px;
}
.member-card table {
  border-bottom: 1px solid #000;
}
.member-card-profiles td {
  font-size: 13px;
  padding: 10px;
  text-align: center;
}
.member-card-profiles tr:nth-child(even) {
background-color: #fac097
}
.member-card-details{
  padding: 10px;
  position: relative;
}
.member-card-details-container, .member-card-details-title{
  display: inline-block;
  padding: 10px;
}
.member-card-details-title{
  position: absolute;
  top: 10px;
}
.member-card-details-container{
  width: 80%;
  left: 100px;
  margin-left: 100px;
}
.member-card-details-item{
  padding-bottom: 5px;
}
.member-card-details-item{
  padding-bottom: 5px;
}
